/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.btn-blue {
    display: inline-block;
    background-color: #0061FF;
}

/*generals*/

html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    display: flex;
}

li {
    color: black;
    font-size: 1.5em;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 15px;
}

h1 {
    font-weight: 800;
    font-size: 4em;
}

p {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-direction: row-reverse;
}

/*header*/

/*navbar*/

.navbar {
    display: flex;
    height: 100px;
    align-items: center;
    margin: 0 20px;
}

.nav-logo > img{
    display: block;
}

.nav-logo,
.nav-link {
    text-align: left;
}

.nav-link,
.nav-supp {
    flex-grow: 1;
}

.nav-supp  ul {
    justify-content: flex-end;
}

/*Jumbothrone*/

.jumbo {
    min-height: 800px;
    background-color: #B4D0E7;
    padding: 60px;
}

.content {
    min-height: 400px;
    background-color: pink;
}

.content > a {
    margin-bottom: 20px;
}

.content > i {
    margin-top: 30px;
}

.jumbo  img {
    height: 600px;
}