/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.big-container {
    max-width: 1200px;
    margin: 0 auto;
}

.sm-container {
    max-width: 1000px;
    margin: 0 auto;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.btn-blue {
    display: inline-block;
    background-color: #0061FF;
}

.btn-big {
    font-size: 1.5em;
    padding: 10px 15px;
}

.btn-small {
    width: 100%;
    padding: 10px 40px;
}

.flex {
    display: flex;
}

.col-30 {
    flex-basis: 30%;
}

.col-70 {
    flex-basis: 70%;
}

.mb-30 {
    margin-bottom: 30px;
}

.blue {
    color: blue;
}

.std-link {
    text-decoration: underline;
    color: blue;
}

.azure-bg {
    background-color: #B4D0E7;
}

.white-bg {
    background-color: white;
}

.txt-gray {
    color: #999999;
}

.bg-green {
    background-color: #A2D39B;
}

.bg-purple {
    background-color: #61082B;
}

.bg-blue {
    background-color: #0093CE;
}

.bg-red {
    background-color: #FF1C1C;
}

.bg-dark-red {
    background-color: #D5001F;
}

.bg-azure {
    background-color: #B4D0E7;
}

.bg-darkblue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

.bg-lightgray {
    background-color: #F5F5F5;
}

/*generals*/

html {
    font-family: 'Open Sans', sans-serif;
}


ul {
    list-style: none;
    display: flex;
}

li {
    color: black;
    font-size: 1.5em;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 800;
    font-size: 4em;
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
}

h4 {
    font-size: 25px;
}

p {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    display: block;
}

section {
    margin-bottom: 80px;
}

/*header*/

/*navbar*/

.navbar {
    background-color: white;
    display: flex;
    height: 100px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px gray;
}

.navbar > *{
    padding: 0 20px;
}

.nav-logo > img{
    display: block;
}

.nav-logo,
.nav-link {
    text-align: left;
}

.nav-link,
.nav-supp {
    flex-grow: 1;
}

.nav-supp  ul {
    justify-content: flex-end;
}

/*Jumbothrone*/

.jumbo {
    height: 800px;
    background-color: #B4D0E7;
    padding: 150px;
    margin-bottom: 80px;
}


/*main*/

.checkbox {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: white;
    margin: 0 5px;
    border: 3px solid #D8D8DA;
    border-radius: 50%;
    padding: 5px;
}

.selected {
    border: 3px solid #0061FF;
}

.row {
    display: flex;
    gap: 30px;
}

.col  {
    border: 1px solid #D8D8DA;
    min-height: 400px;
    margin: 10px 0;
    flex-basis: calc(100% / 3);
}

.partner {
    margin: 30px 0;
}

.partner > div {
    min-height: 500px;
    flex-basis: 50%;
}

.sm-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.sm-col {
    border: 1px dashed;
    min-height: 300px;
    flex-basis: calc(100% / 3 - 20px / 3);
}

/*card*/

.card > * {
    padding: 20px;
}

.card-title {
    text-align: center;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #D8D8DA;
}

.card-type > * {
    margin: 10px 0;
}

.card-type > div:first-child {
    font-size: 1.2em;
    font-weight: 700;
}

.card-type > div:nth-child(2) {
    font-size: 0.8em;
    font-weight: 700;
}

.card-type > div:last-child {
    font-size: 0.7em;
    color: #8C8E8F;
}

.card-info > * {
    height: 60px;
    margin-bottom: 30px;
}

.btn-card {
    text-align: center;
}

.card-features > * {
    margin-bottom: 20px;
}

.card-features > div:first-child {
    font-weight: 700;
}

.flex-card {
    display: flex;
    justify-content: space-between;
}

.flex-card > .card-info {
    flex-basis: 70%;
}

.flex-card > div:last-child {
    flex-basis: 30%;
}

.card-name {
    font-size: 1.5em;
    font-weight: 700;
}

.card-price {
    font-weight: 700;
}

/*partner*/

.partner-text {
    padding: 40px;  
}

.partner-text > h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/*feature*/

.card > p {
    font-size: 0.9em;
}

/*free-trial*/

#free-trial > .flex {
    min-height: 400px;
    align-items: center;
    gap: 40px;
}


#free-trial h2 {
    color: #61082B;
}

/*footer*/

footer {
    min-height: 400px;
    background-color: black;
    padding: 40px
}

footer > div {
    align-items: center;
}

footer div {
    flex-basis: calc(100% / 5);
}

footer ul {
    display: block;
}

footer li {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}


/*clients section*/

.client {
    flex-basis: calc(100vw / 3);
    height:calc(100vw / 3);
    flex-wrap: wrap;
}

.client-logo {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-logo img {
    width: 50%;
    filter: invert(1);
}

.client.big-client {
    padding: 40px;
}

.client.big-client p {
    margin: 70px 0 50px 0;
}

/*FAQ section*/

#FAQ {
    margin-bottom: 100px;
}

#FAQ > * {
    border-bottom: 1px solid #999999;
    padding: 30px 0;
}

#FAQ p {
    font-weight: bold;
    margin: 20px 0;
}